@using klukk_social.Models
@model SmallCardModel

@{
	ViewBag.Title = "Hópar";
	ViewBag.ReturnUrl = Model.searchString;
}

<h2 class="card postpadd">Hóparnir mínir</h2>

@foreach (var group in Model.Groups)
{
	@Html.Partial("SmallGroupCard", group);
}
<div class="searchcard"></div> @*Lagar staðsetningu leitarniðurstaða með ósýnilegum spjöldum*@
<div class="searchcard"></div>
<div class="searchcard"></div>