@{
    ViewBag.Title = "Why it is safe";
}
<h2>@ViewBag.Title</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br />
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br />
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in<br />
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat<br />
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br />
</p>


