body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input,
select,
textarea {
    max-width: 580px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
	position: absolute;
	bottom: 20px;
	color: white;
	z-index: 2;
}

body {
	text-align: justify;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.friendbuttonsize {
	max-width: 120px;
	float: right;
	position: relative;
	top: -23px;
}

.title {
	font-family: 'Arial Black';
	margin-left: 30px;
	margin-right: 30px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 35px;
	text-shadow: rgb(3, 3, 3) 2px 0px 6px;
	text-decoration: none;
	float: left;
}

.maintitle {
	font-family: 'Arial Black';
	margin-left: 50px;
	margin-right: 30px;
	font-weight: bold;
	color: #fff;
	font-size: 70px;
	text-shadow: #030303 6px 5px 20px;
	text-decoration: none;
}

.splashpagebackground {
	background-image: url('/Content/Images/Tahoe-Day.png');
}

.pagebackground {
	background-image: url('/Content/Images/Tahoe-Day-white.png');
}

.rockymountainsatdaytime {
	background-image: url('/Content/Images/Rocky-Mountains -at-Daytime.jpg');
}
.topbar a {
	color: white;
	font-size: 100px;
}

.sidebar {
	float:left;
	width: 200px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	top:50px;
	padding: 20px;
	text-align: left;
	color: black;
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 20px;
	overflow: auto;
	height: 100%;

}

.sidebar img {
	border-radius: 10px;
	height: 160px;
	width: 160px;
	border-style: solid;
	border-width: 4px;
	border-color:rgb(255, 255, 255);
	object-fit:cover;
	object-position: center;
}

.sidebar button{
	width: 160px;
}

.sidebar a {
	margin: 5px 0px 5px 0px;
	border-radius: 5px;
	display: block;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: right;
	width: 160px;
}

.contentarea {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 200px;
	padding-bottom: 50px;
	min-height: 500px;
}

.white-background {
	padding-top: 10px;
	padding-left: 60px;
	background-color: white;
	border-radius: 5px;
	height: 100%;
	width: 500px;
}

.search {
	border-radius: 5px;
	height: 205px;
	width: 205px;
	object-fit:cover;
	object-position: center;
	margin-bottom: 5px;
}

.searchcard {
	display: inline-block;
	width: 215px;
	margin-right:0px;
	min-height: 120px;
}

.card {
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #5593C2;
	border-radius: 5px;
}

.cardgroup {
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #9C4B9E;
	border-radius: 5px;
}

.takeallwidth {
	width:100%;
}

.floatleft {
	float: left;
}
.postpadd {
	padding:5px;
}

.leftpaddten {
	padding-left:10px;
}

.searchpadd {
	padding: 5px;
}

.imagesmall {
	border-radius: 5px;
	height: 50px;
	width: 50px;
	object-fit:cover;
	object-position: center;
	margin: 0px;
}
.span {
	width: 100% !important;
	min-width: 80px;
}

.fullwidth {
	max-width: 1500px !important;
}

.formwidth {
	max-width: 910px;

}
.inline {
	display: inline;
}
.block {
	display: inline-block;
}
.whitepace {
	white-space: normal;
}

.white {
	color:white !important;
}

.footercontainer {
	position:fixed;
	left:20px;
	bottom:30px;
	height:30px;
	width:100%;
	z-index: 2;
}
.footertext {
	position:fixed;
	left:20px;
	bottom:10px;
	height:30px;
	width:100%;
}

.postdialog {
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #e7f3ff;
	color: black;
}

.profile {
	border-radius: 5px;
	height: 300px;
	width: 300px;
	object-fit:cover;
	object-position: center;
}

.commentdialog {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
	background-color: #B2E4E5;
	color: black;
}

.add-friend {
    background: url('/Content/Images/Add-Friend.png') no-repeat; /*Please find me a bette icon Mr. Cosmos*/
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: none;
}
.clearright {
	clear:right;
}

.fixtextinfootercontent {
    text-align: justify;
    width: 40%;
    position:absolute;
    right: 70%;
    left:9%;
}

.btn-warning-on {
	color: #ffffff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.topblue {
	margin-bottom: 5px;
	padding-left: 5px;
	background-color: #ABE1E4;
	border-radius: 4px;
}

.post {
	font-size: 18px;
}

.post-body {
	font-size: 18px;
}

.post img {
	vertical-align: middle;
	border-radius: 10px;
	width: 100%;
	margin: 10px 0px 10px 0px;
}
.post iframe {
	vertical-align: middle;
	width: 100%;
	display: block;
	margin: 10px 0px 10px 0px;
}

.edit-container {
	z-index:1002;
}

.edit-container textarea {
	max-width: 100%;
	font-size: 18px;
}

.edit-container textarea {
	max-width: 100%;
	font-size: 18px;
	margin: 5px 0px;
}

.edit-container button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.checkbox {
	display: inline;
	vertical-align: middle;
	margin-left: 5px !important;
}

.topmargin {
	margin-top: 6px;
}
.bottommargin {
	margin-bottom: 5px;
}

.login {
	max-width: 800px;
	border-radius: 30px;
}

.tilkynning {
	border-radius: 5px;
	background-color: white;
	margin: 5px 0px;
	padding: 5px;
	color: black;
}

.groupheader {
	width: calc(100% - 300px);
}

.frontpageinfo{
	background-color: white;
	max-width: 600px;
	border-radius: 10px;
	padding: 10px;
}

.afterspace{
	margin-bottom: 200px;
}

.whitefrotpage{
	z-index: 1;
	background-color: #574061;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 450px;
	height: 70px;
	border-top-right-radius: 30px;
}