@model klukk_social.Models.User

@{
    ViewBag.Title = "Child Settings";
}

<h2 class="card postpadd">Child Settings</h2>
<p class="card postpadd">Change Picture - give the URL of the new picture</p>
@using (Html.BeginForm("ChildSettings", "User", FormMethod.Post, new { @class = "comment-form", role = "form" }))
{
	<div class="postdialog form-inline">
		<input type="text" name="picURL" placeholder="Url á nýja prófíl mynd" class="form-control"/>
		<input type="submit" value="Setja" class="btn btn-default" />
	</div>
}