@model klukk_social.Models.FriendsViewModel
@using klukk_social.Models

@{
    ViewBag.Title = "Vinir";
}

@if (Model.Requests.Count() > 0)
{
	<h2 class="card postpadd">Vinabeiðnir</h2>
}

@foreach (var user in Model.Requests)
{
	@Html.Partial("SmallProfileCard", user);
}

<h2 class="card postpadd">Vinir</h2>

@foreach (var user in Model.Friends)
{
	@Html.Partial("SmallProfileCard", user);
}

@if (Model.UnasweredRequests.Count() > 0)
{
	<h2 class="card postpadd">Vinabeiðnir sem bíða svari</h2>
}
@foreach (var user in Model.UnasweredRequests)
{
	@Html.Partial("SmallProfileCard", user);
}

<div class="searchcard"></div> @*Hakk, Lagar staðsetningu leitarniðurstaða með ósýnilegum spjöldum*@
<div class="searchcard"></div>
<div class="searchcard"></div>
<div class="searchcard"></div>