@using klukk_social.Models
@model klukk_social.Models.UserViewModel

@{
    ViewBag.Title = "ParentHome";
}

<h2 class="card postpadd">Children Feed</h2>

<p class="card postpadd">This is where you spy on your children</p>

@foreach (var p in Model.Feed)
{
	@Html.Partial("PostPartial", p)
}
