@using klukk_social.Models
@model klukk_social.Models.UserViewModel

@{
    ViewBag.Title = "ParentHome";
}

<h2 class="card postpadd">Children Feed</h2>

<p class="card postpadd">This is where you spy on your children</p>

@foreach (var post in Model.Feed)
{
	UserViewModel feedPartial = new UserViewModel();
	feedPartial.Person = Model.Person;
	feedPartial.Feed.Add(post);
	@Html.Partial("PostPartial", feedPartial)
}
