<div class="sidebar">
	<img src="/Content/Images/Tahoe-Day.png" alt="Alternate Text"/>
	<a href="#">Input Name</a>
	<input type="submit" value="Child 1" class="btn btn-default btn-lg btn-block" />
</div>