@using klukk_social.Models
@model UserViewModel

@{
    ViewBag.Title = "ParentHome";
	
}

<h2 class="card postpadd">Færslur barns</h2>

<p class="card postpadd">Hér eru síðustu færslur barns</p>

@foreach (var post in Model.Feed)
{
	InteractionBarViewModel userPostInfo = new InteractionBarViewModel();
	userPostInfo.Post = post;
	userPostInfo.IsPost = true;
	userPostInfo.AllChildren = Model.AllChildren;
	@Html.Partial("PostPartial", userPostInfo)
}
