@model klukk_social.Models.UserViewModel
@using Microsoft.AspNet.Identity
@using klukk_social.Models

@{
    ViewBag.Title = "Parent Settings";

}

<h2 class="card postpadd">Stillingar</h2>
<p class="card postpadd">Skipta út prófílmynd</p>
@using (Html.BeginForm("ParentSettings", "User", FormMethod.Post, new { @class = "comment-form", role = "form" }))
{
	<div class="postdialog form-inline">
		<input type="text" name="picURL" placeholder="Url á nýja prófíl mynd" class="form-control"/>
		<input type="submit" value="Setja" class="btn btn-default" />
	</div>
}
<p class="card postpadd">Breyta lykilorði barns</p>

@foreach (var child in Model.AllChildren)
{
	<div class="postdialog form-inline">
		<div class="topblue">Notendanafn barns: @child.UserName</div>
		<input type="text" name="@child.Id" placeholder="@child.FullName" class="form-control" />
		@Html.ActionLink("Breita", "GoToChild", "User", new { @class = "btn btn-default" })
	</div>
}
