@using klukk_social.Models
@model Post
<div class="card postpadd post-status">
    @using (Html.BeginForm("PostStatus", "Post", new { @class = "postdialog" }))
    {
        <textarea class="form-control span formwidth" rows="4" name="status" placeholder="Hvað viltu segja okkur?"></textarea>
        <input type="hidden" name="toUserId" value="@Model.ToUserId" />
        <input type="hidden" name="PosterName" value="@Model.PosterName" />
		<input type="submit" value="Deila" class="btn btn-default topmargin bottommargin" />
	}
</div>