@model List<klukk_social.Models.User>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="card">Search</h2>

@foreach (var user in Model)
{
	<div class="card">
		@*<input type="button" value="@user.Id" class="add-friend" />*@

		<a href='@Url.Action("AddFriend", "User")'>
			<img src='@user.ProfilePic' class="search"/>
		</a>

		@Html.ActionLink(user.FirstName, "FriendHome", new { userId = user.Id }, null)
	</div>
}