@model List<klukk_social.Models.User>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="card searchpadd">Search</h2>

@foreach (var user in Model)
{
    <div class="card searchcard searchpadd">
        <a href='@Url.Action("Profile", "User", new {userId = user.Id}, null)'>
            <img src='@user.ProfilePic' class="search"/>
        </a>
        @Html.ActionLink(user.FirstName, "Profile", new {userId = user.Id}, new {@class = "btn btn-success btn-block"})
        @*@Html.ActionLink("Senda vinabeiðni", "SendFriendRequest", new {userId = user.Id}, new {@class = "btn btn-success btn-block friend-req"})*@
        <button type="button" value="@user.Id" class="btn btn-success btn-block friend-req">Senda vinabeiðni</button>
    </div>
}
<div class="searchcard"></div> @*Hakk, Lagar staðsetningu leitarniðurstaða með ósýnilegum spjöldum*@
<div class="searchcard"></div>
<div class="searchcard"></div>
<div class="searchcard"></div>