@using klukk_social.Models
@model SmallCardModel

@{
    ViewBag.Title = "Leit";
	ViewBag.ReturnUrl = Model.searchString;
}

<h2 class="card searchpadd">Search</h2>

@foreach (var user in Model.Users)
{
	@Html.Partial("SmallProfileCard", user);
}
@foreach (var group in Model.Groups)
{
	@Html.Partial("SmallGroupCard", group);
}
<div class="searchcard"></div> @*Lagar staðsetningu leitarniðurstaða með ósýnilegum spjöldum*@
<div class="searchcard"></div>
<div class="searchcard"></div>