@using Microsoft.AspNet.Identity
@model klukk_social.Models.InteractionBarViewModel

@{
	bool thisChildsPost = false;
	bool parentOwnsThisChild = false;
}
@if (Model.IsPost)
{
	thisChildsPost = Model.Feed[0].FromUserId == User.Identity.GetUserId();
	parentOwnsThisChild = Model.Person.ParentId == User.Identity.GetUserId();
}
else
{
	thisChildsPost = Model.Comment.UserId == User.Identity.GetUserId();
	parentOwnsThisChild = Model.Comment.UserId == User.Identity.GetUserId();
}

@*if Is childs post OR if is childs friend post*@
@if (!User.IsInRole("Parent"))
{

    <button type="submit" class="btn btn-default btn-xs " id="add-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
	<button type="button" class="btn btn-default btn-xs btn-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Un Star</button>
}

@*if Is childs post OR Parent owns this child*@
@if (thisChildsPost || parentOwnsThisChild)
{
	<button type="button" class="btn btn-default btn-xs btn-info"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Edit</button>
}

@*if Is childs post OR Parent owns this child*@
@if (thisChildsPost || parentOwnsThisChild)
{
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>
}
else
{@*if Is childs friend post OR if is friend post of a child we own*@
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Report</button>
}