@using Microsoft.AspNet.Identity
@model klukk_social.Models.UserViewModel
@{
	
	var currUser = Model.Person.Id;
	bool thisChildsPost;
	bool parentOwnsThisChild; 
	if (Model.Comment == null)
	{
		thisChildsPost = Model.Feed[0].FromUserId == currUser;
		parentOwnsThisChild = false; //FIX this 
	}
	else
	{
		thisChildsPost = Model.Comment.UserId == currUser;
		parentOwnsThisChild = false; //FIX this! old -> = us.IsParentsChild(currUser, Model.Comment.UserId);
	}
	
}

@*if Is childs post OR if is childs friend post*@
@if (!User.IsInRole("Parent"))
{
	<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
	<button type="button" class="btn btn-default btn-xs btn-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Un Star</button>
}

@*if Is childs post OR Parent owns this child*@
@if (thisChildsPost || parentOwnsThisChild)
{
	<button type="button" class="btn btn-default btn-xs btn-info"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Edit</button>
}

@*if Is childs friend post OR if is friend post of a child we own*@
@if (false)
{
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Report</button>
}

@*if Is childs post OR Parent owns this child*@
@if (thisChildsPost || parentOwnsThisChild)
{
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>
}