@using Microsoft.AspNet.Identity
@using klukk_social.Models
@using klukk_social.Services

@{
	UserSerice us = new UserSerice();
	var children = us.GetAllChildren(User.Identity.GetUserId());
	var ProfilePic = us.GetProfileURL(User.Identity.GetUserId());
}
<div class="sidebar">
	<img src="@ProfilePic" alt="Alternate Text" />
	<a href="#">Heiðar Berg Hallgríms</a>
	@Html.ActionLink("Settings", "ParentSettings", "User", new { @class = "btn btn-default btn-lg btn-block" })

	@foreach (var child in children)
	{
		@Html.ActionLink(child.FirstName, "GoToChild", "User", new { @class = "btn btn-default btn-lg btn-block" } )
	}
    @Html.ActionLink("Add Child", "CreateChild", "User", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg btn-block" })
</div>