<div class="sidebar">
	<img src="/Content/Images/Smiling-teen-w_braces.jpg" alt="Alternate Text" />
	<a href="#">Input Name</a>
    <input type="submit" value="Child 1" class="btn btn-default btn-lg btn-block"/>
    @Html.ActionLink("Add Child", "CreateChild", "User", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</div>